<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">

    <!-- The default testsuite -->
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit/</directory>
            <directory suffix="Test.php">tests/integration/</directory>
        </testsuite>
    </testsuites>

    <!-- Source inclusion for coverage -->
    <source>
        <include>
            <directory suffix=".php">src/Container</directory>
        </include>
    </source>

    <!-- Coverage configuration (optional) -->
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage/html"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
